* {
  margin: 0;
  padding: 0px;
}
header {
  padding-right: 50px;
  justify-content: flex-end;
  display: flex;
  align-items: center;
  height: 60px;
  border-color: #f50000;
  font-style: BOLD;
  background-color: #895737;
}
header ul {
  display: flex;
  list-style-type: none;
  font-size: 1.8rem;
  gap: 100px;
  text-align: center;
  align-items: center;
}
body {
  background-color: #f3e9dc;
}
.line {
  width: 100%;
  height: 4px;
  position: absolute;
  top: 145px;
  background-color: #000000;
}
.personal-info {
  padding: 20px;
}
.container {
  padding: 40px 30px;
  top: 300px;
  left: 40%;
  width: 800px;
  height: 400px;
  background-color: #d9d9d9;
}
.line-2 {
  width: 100%;
  height: 4px;
  position: absolute;
  top: 750px;
  background-color: #000000;
}
.cont {
  padding: 40px 30px;
  width: 800px;
  height: 380px;
  background-color: #d9d9d9;
}
.personal {
  position: absolute;
  top: 170px;
  left: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
ul li a {
  text-decoration: none;
  color: black;
}
.biography {
  font-size: 2.4rem;
}
.abawt {
  padding: 20px;
}
.about-me {
  font-size: 1.5rem;
  padding: 100px;
}
.abt-me {
  position: absolute;
  top: 800px;
  left: 315px;
  display: flex;
}
.intro {
  font-size: 2.4rem;
}
.kontainer-wan {
  padding: 40px 20px;
  position: absolute;
  top: 2200px;
  left: 69.5%;
  width: 550px;
  height: 400px;
  background-color: #d9d9d9;
}
.line-3 {
  width: 100%;
  height: 4px;
  position: absolute;
  top: 1350px;
  background-color: #000000;
}
.PROJECTS {
  padding: 20px;
  position: absolute;
  top: 1275px;
  font-size: 2.4rem;
}
.kontainer-tu {
  padding: 40px 20px;
  position: absolute;
  top: 2200px;
  left: 2%;
  width: 550px;
  height: 400px;
  background-color: #d9d9d9;
}
.kontainer-tri {
  padding: 40px 20px;
  position: absolute;
  top: 2200px;
  left: 36%;
  width: 550px;
  height: 400px;
  background-color: #d9d9d9;
}
.line-4 {
  width: 100%;
  height: 4px;
  position: absolute;
  top: 2900px;
  background-color: #000000;
}
.contact-img {
  position: absolute;
  top: 3000px;
  left: 69.5%;
  width: 550px;
  height: 500px;
  background-color: #d9d9d9;
}
.Contak {
  padding: 20px;
  position: absolute;
  top: 2800px;
  font-size: 2.4rem;
}
.tu {
  font-size: 2.4rem;
}
.tri {
  font-size: 2.4rem;
}
.wan {
  font-size: 2.4rem;
}
footer {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 20px;
  position: absolute;
  top: 3900px;
  font-size: 1.5rem;
  background-color: #895737;
  color: white;
}
.pckt {
  padding: 40px 20px;
  position: absolute;
  top: 1500px;
  left: 2%;
  width: 550px;
  height: 400px;
}
.elec-img {
  padding: 40px 20px;
  position: absolute;
  top: 1450px;
  left: 36%;
  width: 550px;
  height: 500px;
}
.turbo-img {
  padding: 40px 20px;
  position: absolute;
  top: 1450px;
  left: 69.5%;
  width: 550px;
  height: 500px;
  
}
.logo {
  display: flex;
  width: 50px;
  height: 50px;
  background-color: #ee9b5854;
  border-radius: 50%;
  margin-right: 1330px;
}
.profile-image {
  width: 500px;
  height: 500px;
  border-radius: 45%;
  margin-top: 50px;
  margin-left: 100px;
}
.show {
  position: absolute;
  top: 200px;
  left: 3%;
  padding: 10px 20px;
  background-color: #D9D9D9;
  color: black;
  border-radius: 40px;
  cursor: pointer;
} 
.p-title {
  font-style : bold;
  position: absolute;
  top:1400px;
  font-size: 2.4rem;
  margin-left: 120px;
}
.elec-title {
   font-style : bold;
  position: absolute;
  top:1400px;
  font-size: 2.4rem;
  margin-left: 855px;
}
.turbo-title {
   font-style : bold;
  position: absolute;
  top:1400px;
  font-size: 2.4rem;
  margin-left: 1500px;
}

